{/* DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box */}
                    <form className="search-form" action="page_general_search_2.html" method="GET">
                        <div className="input-group">
                            <input type="text" className="form-control input-sm" placeholder="Search..." name="query">
                            <span className="input-group-btn">
                                <a href="javascript:;" className="btn submit">
                                    <i className="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>