<div className="page-header navbar navbar-fixed-top">
            {/* BEGIN HEADER INNER */}
            <div className="page-header-inner ">
                {/* BEGIN LOGO */}
                <div className="page-logo">
                    <a href="index.html">
                        <img src="/logo-light.png" alt="logo" className="logo-default" /> </a>
                    <div className="menu-toggler sidebar-toggler">
                        {/* DOC: Remove the above "hide" to enable the sidebar toggler button on header */}
                    </div>
                </div>
                {/* END LOGO */}
                {/* BEGIN RESPONSIVE MENU TOGGLER */}
                <a href="javascript:;" className="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                {/* END RESPONSIVE MENU TOGGLER */}
                {/* BEGIN PAGE ACTIONS */}
                {/* DOC: Remove "hide" class to enable the page header actions */}
                <div className="page-actions">
                    <div className="btn-group">
                        <button type="button" className="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span className="hidden-sm hidden-xs">Actions&nbsp;</span>
                            <i className="fa fa-angle-down"></i>
                        </button>
                        <ul className="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:;">
                                    <i className="icon-docs"></i> New Post </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i className="icon-tag"></i> New Comment </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i className="icon-share"></i> Share </a>
                            </li>
                            <li className="divider"> </li>
                            <li>
                                <a href="javascript:;">
                                    <i className="icon-flag"></i> Comments
                                    <span className="badge badge-success">4</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i className="icon-users"></i> Feedbacks
                                    <span className="badge badge-danger">2</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {/* END PAGE ACTIONS */}
                {/* BEGIN PAGE TOP */}
                <div className="page-top">
                    {/* BEGIN HEADER SEARCH BOX */}
                    <HeaderSearchBox />
                    {/* END HEADER SEARCH BOX */}
                    {/* BEGIN TOP NAVIGATION MENU */}
                    <HeaderTopMenu />
                    {/* END TOP NAVIGATION MENU */}
                </div>
                {/* END PAGE TOP */}
            </div>
            {/* END HEADER INNER */}
</div>

<div className="clearfix"> </div>